@import "main-styles";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");

$h-color: #201f1f;

html,
body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

.wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
      180deg,
      #ffb736 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../pexels2.jpg");

  width: 100%;
  height: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;

  .navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    &__burger-menu {
      font-size: 30px;
      color: #ffffff;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        transform: scale(1.08);
        color: #201f1f;
      }
    }

    &__btns {
      button {
        margin-right: 5px;
        padding: 5px 20px 5px 20px;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 50px;

        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        transition: all 0.2s;

        &:hover {
          transform: scale(1.08);
          background-color: #201f1f;
        }
      }
    }
  }
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: calc(99% - (122px + 110px));
  padding-top: 60px;

  &__hero {
    display: flex;
    align-items: center;
    flex-flow: column;

    &-h1 {
      font-size: 100px;
      line-height: 117px;
      text-transform: uppercase;
      margin: 0;
      color: #ffffff;
    }

    &-p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      margin: 0;
      color: #ffffff;
    }
  }
}

.content__form {
  position: relative;
  margin-top: 100px;

  &-search {
    width: 600px;
    padding: 20px;
    border: none;
    outline: none;
    background: #ffffff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
  }

  &-btn {
    position: absolute;
    color: rgba(189, 189, 189, 0.8);
    top: 15px;
    right: 15px;
    font-size: 20px;
    transition: all 0.2s;

    &:hover {
      color: #201f1f;
    }
  }
}

.content__requests {
  display: block;

  &-list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: #ffffff;

    li {
      font-size: 18px;
      margin-right: 10px;
      cursor: pointer;
      @include underlineHover($h-color);
    }
  }
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  .social-networks {
    font-size: 30px;

    a {
      color: #ffffff;
      transition: all 0.2s;

      &:hover {
        color: #201f1f;
      }
    }

    i {
      margin-right: 5px;
    }
  }

  .question {
    a {
      color: #ffffff;
      text-decoration: none;

      @include underlineHover($h-color);
    }
  }
}

@include for-size(phone-only) {
  .content__hero-h1 {
    font-size: 70px;
  }

  .content__hero-p {
    font-size: 15px;
  }

  .content__form-search {
    width: 400px;
  }

  .content__requests-list li {
    font-size: 13px;
    margin-right: 7px;
  }
}
