@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

.wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb736), to(rgba(255, 255, 255, 0))), url("../pexels2.jpg");
  background-image: linear-gradient(180deg, #ffb736 0%, rgba(255, 255, 255, 0) 100%), url("../pexels2.jpg");
  width: 100%;
  height: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
}

header .navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

header .navigation__burger-menu {
  font-size: 30px;
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

header .navigation__burger-menu:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  color: #201f1f;
}

header .navigation__btns button {
  margin-right: 5px;
  padding: 5px 20px 5px 20px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .navigation__btns button:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  background-color: #201f1f;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.content__hero-h1 {
  font-size: 100px;
  line-height: 117px;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}

.content__hero-p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  margin: 0;
  color: #ffffff;
}

.content__form {
  position: relative;
  margin-top: 100px;
}

.content__form-search {
  width: 600px;
  padding: 20px;
  border: none;
  outline: none;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 80px;
}

.content__form-btn {
  position: absolute;
  color: rgba(189, 189, 189, 0.8);
  top: 15px;
  right: 15px;
  font-size: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.content__form-btn:hover {
  color: #201f1f;
}

.content__requests {
  display: block;
}

.content__requests-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  color: #ffffff;
}

.content__requests-list li {
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  padding-bottom: 8px;
}

.content__requests-list li:before, .content__requests-list li:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #201f1f;
}

.content__requests-list li:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.content__requests-list li:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.content__requests-list li:hover:before, .content__requests-list li:hover:after, .content__requests-list li:focus:before, .content__requests-list li:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.content__requests-list li:hover:before, .content__requests-list li:focus:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.content__requests-list li:hover:after, .content__requests-list li:focus:after {
  -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 160px;
  padding: 0 20px 0 20px;
  color: #ffffff;
}

footer .social-networks {
  font-size: 30px;
}

footer .social-networks a {
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer .social-networks a:hover {
  color: #201f1f;
}

footer .social-networks i {
  margin-right: 5px;
}

footer .question a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  text-decoration: none;
  padding-bottom: 8px;
}

footer .question a:before, footer .question a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #201f1f;
}

footer .question a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

footer .question a:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

footer .question a:hover:before, footer .question a:hover:after, footer .question a:focus:before, footer .question a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

footer .question a:hover:before, footer .question a:focus:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

footer .question a:hover:after, footer .question a:focus:after {
  -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (max-width: 599px) {
  .content__hero-h1 {
    font-size: 70px;
  }
  .content__hero-p {
    font-size: 15px;
  }
  .content__form-search {
    width: 400px;
  }
  .content__requests-list li {
    font-size: 13px;
    margin-right: 7px;
  }
}
